section.light {
    min-height: 40vh;
    background: linear-gradient(rgba(88, 14, 14, 0.95) 0%, rgba(88, 14, 14, 0.6) 20%, rgba(78, 50, 50, 0.6) 50%, rgba(88, 14, 14, 0.5) 100%), url(./background/fire_lamps.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    align-content: center;
}


div.light-text-cover {
    text-align: center;
    color: whitesmoke;
    font-family: cursive;
}